<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>File Sharing</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container-fluid text-center">
        <div>
            <h1>Welcome to File Sharing</h1>
        </div>
        <div>
            <h3><a th:href="@{/home}">List all documents</a></h3>
            <h3><a th:href="@{/register}">Register</a></h3>
            <h3><a th:href="@{/login}">Login</a></h3>
        </div>
    </div>
</body>
</html>